[Unit]
Description=A simple CalDAV (calendar) and CardDAV (contact) server
Documentation=man:radicale(1)
After=network.target
Requires=network.target

[Service]
ExecStart=/opt/pipx/bin/radicale
Restart=on-failure
LogsDirectory=radicale
User=cal
Group=cal
# Deny other users access to the calendar data
UMask=0077
# Optional security settings
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true
ReadWritePaths=/var/lib/calendar

[Install]
WantedBy=multi-user.target
